<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>

<title>Administrative Information Systems - Pennsylvania College of Technology</title>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<script type="text/javascript" src="/PCTstyles/javascript/common.js"></script>
<script type="text/javascript" src="/PCTStyles/javascript/calendarpopup.js"></script>
<link rel="stylesheet" type="text/css" href="/PCTstyles/pct.css">
<style>
	.heading { color: black; }
	h4 {color: black; }
</style>
</head>
<body link="#3030f0" alink="#909090" style="margin:0;">



  <table class="headfull" style="width:100%; height:160px; border:0px; border-bottom:5px solid #FFF;" cellpadding="0" cellspacing="0">
	<tr>
		<td rowspan="3" style="width:200px;" valign="top"><img src="/PCTstyles/images/PCTlogoBlue.gif" alt="Pennsylvania College of Technology" /></td>
		<td rowspan="3" style="width:5px;" valign="top">&nbsp;</td>
		<!-- <td style="background-color: #006; height: 10px;" valign="middle" > -->
		<td>
			<div id="globalnav">
  			<ul>
    			<li><a href="http://www.pct.edu/">Home</a></li>
				<li><a href="http://pctoday.pct.edu/">News</a></li>
				<li><a href="http://www.pct.edu/visit/">Visit Us</a></li>
				<li><a href="http://calendar.pct.edu/">Calendars</a></li>
				<li><a href="http://www.pct.edu/catalog/">Catalog</a></li>
				<li><a href="http://www.pct.edu/admissions/application_types.htm">Apply</a></li>
				<li><a href="http://www.pct.edu/about/">About Us</a></li>
				<li><a href="http://www.pct.edu/contact/">Contact Us</a></li>
				<li><a href="http://www.pct.edu/search/">Search</a></li>
			</ul>
			</div>

		</td>
	</tr>
	<tr>
		<td valign="middle" style="height: 113px;">
			<span class="dept"><b>Administrative Information Systems</b></span>
			<br>
			<span class="loc">Student &amp; Administrative Services Center, Rm 2072  &middot;  (570) 320-2400 ext. 7329 &middot;
			<a href="mailto:its&#64;pct&#46;edu">its&#64;pct&#46;edu</a></span>
		</td>
	</tr>
	<tr>
		<td valign="middle" style="background-color:#dadada; height: 27px;">
		</td>
	</tr>
</table>
<table class="headsmall" border="0" cellpadding="0" cellspacing="0" width="655" align="center">
<tr><td class="heading" align="center">Pennsylvania College of Technology - Administrative Information Systems</td></tr>
</table>
<table style="width:100%; border:0px;" cellpadding="0" cellspacing="0">
<tr><td valign="top">
<!--  end header -->









<div style="text-align: center; margin: 10px 10px 30px 10px;">
<div style="max-width: 1500px; margin: 0 auto;"> 
<p style="margin-bottom: 0px;">
<span class="heading">Course Offerings</span>
</p>

<p style="margin-top: 0px;">

<a href="ais?process=return"><strong>New Search</strong></a>
</p>


<div style="width: 500px; margin: 0 auto;">
	<p style="text-align: left; background-color: #ff6; padding: 5px;">
	<strong>Selected Search Options:</strong> 
	<br />
	
	FALL&nbsp;2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Classes w/open seats only<br />Course(s):&nbsp;&nbsp;CIT160 <br />

	</p>
</div>




		<table border="0" cellspacing="0" cellpadding="3">


		<tr>
      	<td colspan="8" align="left">
             <em>Check Available Textbook Information by clicking on the Class Code</em>
		   </td>
	   </tr>
	  
	   <tr style="color: #ffffff; background-color: #000066;">
		   <td width="10%" align="left" valign="middle"><strong>Class</strong></td>
           <td width="23%" align="left" valign="middle"><strong>Class Title</strong></td>
		   <td width="5%" align="left" valign="middle"><strong>Credits</strong></td>
		   <td width="15%" align="left" valign="middle"><strong>Days</strong></td>
		   <td width="17%" align="left" valign="middle"><strong>Time(s)</strong></td>
		   <td width="10%" align="left" valign="middle"><strong>Bldg/Room</strong></td>
		   <td width="17%" align="left" valign="middle"><strong>Instructor(s)</strong></td>
		   <td width="3%" align="left" valign="bottom"><strong>Seats<br>Available</strong></td>
	   </tr> 




				<tr class="altcol1">
					
					
					<td align="left" valign="top">
							<a href="http://penncollegebooks.com/SelectCourses.aspx?src=2&type=2&stoid=99&trm=Fall%2013&cid=CIT16001" target="_blank" title="Textbook Information">CIT160 01</a>
       			</td>

					
					<td align="left" valign="top">
						<a href="http://www.pct.edu/catalog/courses/CIT160.shtml" target="_blank" title="Course Information">
							Introduction to Programming</a>
													   

					</td>
					
					
					<td align="center" valign="top">3.00</td>
					
					
					<td align="left" valign="top">Tue,Thr</td>
					
					
					<td align="left" valign="top">2:00P.M. - 3:30P.M.
		  			</td>
		  			
		  			
		  			<td align="left" valign="top">
							<a href="http://www.pct.edu/visit/campus/ATHS.htm" target="_blank" title="Building Information"> 
 							   		ATHS/E246</a>
					</td>

					
					<td align="left" valign="top">LEETE, D</td>
					
					
		  			<td align="center" valign="top">22</td>
	      </tr>


				<tr class="altcol1">
					<td colspan="4">&nbsp;</td>
					<td colspan="4" align="left">Class is eligible for Waiting List requests</td>
				</tr>
				

				<tr class="altcol2">
					
					
					<td align="left" valign="top">
							<a href="http://penncollegebooks.com/SelectCourses.aspx?src=2&type=2&stoid=99&trm=Fall%2013&cid=CIT16002" target="_blank" title="Textbook Information">CIT160 02</a>
       			</td>

					
					<td align="left" valign="top">
						<a href="http://www.pct.edu/catalog/courses/CIT160.shtml" target="_blank" title="Course Information">
							Introduction to Programming</a>
													   

					</td>
					
					
					<td align="center" valign="top">3.00</td>
					
					
					<td align="left" valign="top">Wed,Fri</td>
					
					
					<td align="left" valign="top">9:30A.M. - 
							11:00A.M.
		  			</td>
		  			
		  			
		  			<td align="left" valign="top">
							<a href="http://www.pct.edu/visit/campus/ATHS.htm" target="_blank" title="Building Information"> 
 							   		ATHS/E246</a>
					</td>

					
					<td align="left" valign="top">STAFF</td>
					
					
		  			<td align="center" valign="top">22</td>
	      </tr>


				<tr class="altcol2">
					<td colspan="4">&nbsp;</td>
					<td colspan="4" align="left">Class is eligible for Waiting List requests</td>
				</tr>
				

				<tr class="altcol1">
					
					
					<td align="left" valign="top">
							<a href="http://penncollegebooks.com/SelectCourses.aspx?src=2&type=2&stoid=99&trm=Fall%2013&cid=CIT16003" target="_blank" title="Textbook Information">CIT160 03</a>
       			</td>

					
					<td align="left" valign="top">
						<a href="http://www.pct.edu/catalog/courses/CIT160.shtml" target="_blank" title="Course Information">
							Introduction to Programming</a>
													   

					</td>
					
					
					<td align="center" valign="top">3.00</td>
					
					
					<td align="left" valign="top">Tue,Thr</td>
					
					
					<td align="left" valign="top">11:00A.M. - 
							12:30P.M.
		  			</td>
		  			
		  			
		  			<td align="left" valign="top">
							<a href="http://www.pct.edu/visit/campus/ATHS.htm" target="_blank" title="Building Information"> 
 							   		ATHS/E251</a>
					</td>

					
					<td align="left" valign="top">LEETE, D</td>
					
					
		  			<td align="center" valign="top">22</td>
	      </tr>


				<tr class="altcol1">
					<td colspan="4">&nbsp;</td>
					<td colspan="4" align="left">Class is eligible for Waiting List requests</td>
				</tr>
				

				<tr class="altcol2">
					
					
					<td align="left" valign="top">
							<a href="http://penncollegebooks.com/SelectCourses.aspx?src=2&type=2&stoid=99&trm=Fall%2013&cid=CIT16004" target="_blank" title="Textbook Information">CIT160 04</a>
       			</td>

					
					<td align="left" valign="top">
						<a href="http://www.pct.edu/catalog/courses/CIT160.shtml" target="_blank" title="Course Information">
							Introduction to Programming</a>
													   

					</td>
					
					
					<td align="center" valign="top">3.00</td>
					
					
					<td align="left" valign="top">Mon,Wed</td>
					
					
					<td align="left" valign="top">3:30P.M. - 
							5:00P.M.
		  			</td>
		  			
		  			
		  			<td align="left" valign="top">
							<a href="http://www.pct.edu/visit/campus/ATHS.htm" target="_blank" title="Building Information"> 
 							   		ATHS/E246</a>
					</td>

					
					<td align="left" valign="top">LEETE, D</td>
					
					
		  			<td align="center" valign="top">22</td>
	      </tr>


				<tr class="altcol2">
					<td colspan="4">&nbsp;</td>
					<td colspan="4" align="left">Class is eligible for Waiting List requests</td>
				</tr>
				

				<tr class="altcol1">
					
					
					<td align="left" valign="top">
							<a href="http://penncollegebooks.com/SelectCourses.aspx?src=2&type=2&stoid=99&trm=Fall%2013&cid=CIT16025" target="_blank" title="Textbook Information">CIT160 25</a>
       			</td>

					
					<td align="left" valign="top">
						<a href="http://www.pct.edu/catalog/courses/CIT160.shtml" target="_blank" title="Course Information">
							Introduction to Programming</a>
													   

					</td>
					
					
					<td align="center" valign="top">3.00</td>
					
					
					<td align="left" valign="top">Tue,Thr</td>
					
					
					<td align="left" valign="top">5:00P.M. - 
							6:30P.M.
		  			</td>
		  			
		  			
		  			<td align="left" valign="top">
							<a href="http://www.pct.edu/visit/campus/ATHS.htm" target="_blank" title="Building Information"> 
 							   		ATHS/E245</a>
					</td>

					
					<td align="left" valign="top">STAFF</td>
					
					
		  			<td align="center" valign="top">22</td>
	      </tr>


				<tr class="altcol1">
					<td colspan="4">&nbsp;</td>
					<td colspan="4" align="left">Class is eligible for Waiting List requests</td>
				</tr>
				


	
		<tr class="altcol1">
			<td colspan="8">&nbsp;</td>
	   </tr>
	  
	   <tr>
        <td colspan="8" style="text-align: left; border-top: 1px solid black; padding-top: 10px;">

			 
			 <strong>Bachelor of Science Degree Requirements</strong><br />
			    &nbsp;&nbsp;&nbsp;CUL - Cultural Diversity Requirement<br /> 
			    &nbsp;&nbsp;&nbsp;STS - Science, Technology and Society Requirement<br />
				 &nbsp;&nbsp;&nbsp;WRT - Writing Enriched Requirement 
		   </td>
	  </tr>
	
	</table>   

				
</div>
</div>
<!-- Begin footer -->
 </td>
 </tr>
</table>

</div>
<div id="pctfooter" class="noprint">
<h6>&#169; 1995 Pennsylvania College of Technology &middot; <a class="pctfooter" href="http://www.pct.edu/privacy/">Privacy Statement</a></h6>
<h6>One College Avenue &middot; Williamsport, PA 17701 &middot; 570-326-3761 or 800-367-9222</h6>
</div>	
</body>
</html>